.lista-pie {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
    margin: auto;
    background-color: #004643;
    color: azure;
    font-family: sans-serif;
    font-size: 15px;
}

.pie {
    background-color: #004643;
    color: azure;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}