.locales {
    font-family: sans-serif;
    font-size: 15px;
    color: #064833;
    margin-top: 2%;
    list-style-type: none;

}

.locales p {
    display: flex;
    font-size: 12px;
    padding: 2%;
    margin: auto;
    justify-content: center;
    background-color: #9fd8ac;
}

.parrafito {
    background-color: #6bbd99;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 12px;
}

.local1 {
    width: 350px;
    margin: 15px;
}

.local2 {
    width: 350px;
    margin: 15px;
}

.local3 {
    width: 350px;
    margin: 15px;
}